.tags {
    display: flex;
    gap: 15px;

    @media (max-width: 820px) {
        overflow-x: auto;
        padding-bottom: 15px;

       /*  &::-webkit-scrollbar {
            display: none;
        } */
    }

    button {
        padding: 8px 20px;
        border-radius: 33px;
        background: var(--gray-lightest);
        border: none;
        font-size: 16px;
        font-weight: 600;
        transition: var(--transition);
        cursor: pointer;

        &:hover {
            background: var(--gray-light);
        }

        &.active {
            color: var(--white);
            background: var(--black);
        }
    }
}
