.wrapper {
    background: var(--orange);
    border-radius: 33px;
    color: var(--white);
    padding: 10px 15px;
    display: flex;
    align-items: center;
    margin-left: auto;
    transition: var(--transition);
    border: none;

    &:hover {
        background: var(--orange-dark);
        cursor: pointer;
    }

    .left {
        padding-right: 9px;
        border-right: 2px solid var(--white);

        .price {
            margin-right: 5px;
        }
    }

    .right {
        display: flex;
        align-items: center;
        margin-left: 9px;
        gap: 5px;
    }
}